<div class="container signup-wrapper" data-ng-controller="RegisterController">
    <iframe name="sink" style="display:none"></iframe>
    <form class="form-signin" name="registerForm" action="sink.html" target="sink" method="post"
          data-ng-submit="signup(credentials)" novalidate form-autofill-fix>
        <h2 class="form-signin-heading">Create an Account</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
               data-ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }"
               data-ng-model="credentials.email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
               data-ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }"
               data-ng-model="credentials.password" required>
        <label for="name" class="sr-only">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name"
               data-ng-class="{ 'has-error' : registerForm.name.$invalid && !registerForm.name.$pristine }"
               data-ng-model="credentials.name" required>
        <!--<div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">Remember me
            </label>
        </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
    </form>

</div>
